[defaults]
  host_key_checking = False

Host puddlejumper
  StrictHostKeyChecking=no
  UserKnownHostsFile=/dev/null
  User circleci
  HostName puddlejumper

Host nas
  StrictHostKeyChecking=no
  UserKnownHostsFile=/dev/null
  User minion
  ProxyCommand ssh -q circleci@puddlejumper nc -q0 1.2.3.4 22

[ssh_connection]
  pipelining = True
  control_path = /tmp/ansible-ssh-%%h-%%p-%%r
  ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
  timeout = 120
  retries = 5